<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/styles.css') }}">
    <title>Contextual Camouflage</title>
    <script>
    $(document).ready(function()
    {
     $('body').hide().fadeIn(2000);
    });
    // setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });
        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
    </script>
  </head>
  <body>
    <div>
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
          <a href="/Home" class="navbar-brand">CONTEXTUAL CAMOFLAUGE</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/About">About</a></li>
            <li><a href="/Love">The Stigma</a></li>
            <li><a href="/Story">Your Story</a></li>
            <li><a href="/Help">Help Resources</a></li>
          </ul>
        </div>
      </div>
      </nav>
  </div>

    <div class="newclass">
    <div class="camomap blur"></div>
    <div class="overlay">
    <div class="loveBlock">
    <div class="container" id="loveinfo">

<div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="6000">
<!-- Wrapper for slides -->
<div class="row">
  <!-- <div class="col-xs-offset-3 col-xs-6"> -->
  <div class="col-md-4">
      <div class="carousel-inner">
          <div class="item active">
              <div class="carousel-content">
                  <div class= "Depression">
                      <h3>Depression</h3>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Anxiety">
                      <h3>Anxiety</h3>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Bipolar">
                      <h3>Bipolar Disorder</h3>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Dementia">
                      <h3>Dementia</h3>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Schizophrenia">
                      <h3>Schizophrenia</h3>

                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "ADD">
                      <h3>Attention Deficit/Hyperactive Disorder</h3>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class ="OCD">
                      <h3>Obsessive Compulsive Disorder</h3>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Autism">
                      <h3>Autism</h3>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "PTSD">
                      <h3>Post Traumatic Stress Disorder</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <a class="left carousel-control" href="#carousel-example" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->
 </div>

<!-- Controls -->
</div>
<div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="2000">
<!-- Wrapper for slides -->
<div class="row">
  <!-- <div class="col-xs-offset-3 col-xs-6"> -->
  <div class="col-md-4">
      <div class="carousel-inner">
          <div class="item active">
              <div class="carousel-content">
                  <div class= "Depression">

                      <p>Thank you for giving us an outlet to tell our stories. It feels good to be able to share my experience with other people who are experiencing the same thing.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Depression">
                      <h3>  </h3>
                      <p>This is such a great idea for a site. There are days where the pain is difficult to endure and my meds barely put a dent in it. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Depression">
                      <h3>   </h3>
                      <p>This site is incredible. I do not know who wrote the javascript but they should win an award for it. Thank you to whoever had the brilliant idea to make such a thing. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Anxiety">
                      <h3> </h3>
                      <p>Some days it is all that I can do to leave the house. Everything worries me and I have trouble keeping it together. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Anxiety">
                      <h3> </h3>
                      <p>I can not put into words how cool this site is and how much it helps me to type these words. The map is a thing of beauty and I will stare at it for hours every day from now until the end of time. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Anxiety">
                      <h3> </h3>
                      <p>I am just so nervous all the time but I know that it will pass. If anyone else feels this way my thoughts go out to them and I hope they are ok. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Bipolar">
                      <h3></h3>
                      <p>It is a roller coaster. One minute I feel great and the next it is as if I have crashed to the ground and can barely recover. </p>
                  </div>
              </div>
          </div><div class="item">
              <div class="carousel-content">
                  <div class= "Bipolar">
                      <h3> </h3>
                      <p>The other day I told a friend that I did not want to speak with them and the next minute i was in tears. It is so hard to maintain any perspective on what matters.</p>
                  </div>
              </div>
          </div><div class="item">
              <div class="carousel-content">
                  <div class= "Bipolar">
                      <h3></h3>
                      <p>Whoever designed this site is clearly a genius. The way the backend and frontend link is a genius. Bravo. Bra. Vo.
</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Dementia">
                      <h3></h3>
                      <p>I can not remember the name of my children sometimes. There are times when I am not even sure what year it is and I can feel my grip on reality slipping. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Dementia">
                      <h3></h3>
                      <p>Thank you for making this site. I am using it when I feel like I am having a good day and it really helps. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Dementia">
                      <h3></h3>
                      <p>My family worries about me all the time. Some days are harder than others but I pray every night. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Schizophrenia">
                      <h3></h3>
                      <p>I have been hospitalized so many times that I have lost count. As a kid, I used to tell people that I was at camp when I would have an episode. Things are hard but I am doing better right now.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Schizophrenia">
                      <h3></h3>
                      <p>My doc is trying to dial in my meds but things are all over the place and I am having a lot of trouble. Just focusing is difficult but I am hanging on and trusting that things will even out.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Schizophrenia">
                      <h3></h3>
                      <p>I am in awe of the button on this page. There is a facebook page devoted to it and I check it every hour just to see if there are any updates.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "ADD">
                      <h3></h3>
                      <p>My meds sometimes get off and it is hard to focus. I try really hard to pay attention in class but I suddenly find myself talking while the teacher is talking and I can not control it. Right now I am thinking about something else already. Thank you for such a cool site.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "ADD">
                      <h3></h3>
                      <p>I can not believe what I’m seeing in your map. It is so fluid and full of textural subtlety. Great work. I would hire you.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "ADD">
                      <h3></h3>
                      <p>For a long time, the doctors told me that it was all in my head but I knew it was real. I finally found a good doctor and got help. Things have been better since but it is still hard.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "OCD">
                      <h3></h3>
                      <p>Is this d3? This looks like d3 but I have never seen it look this cool. Whoever built the backend should win the award. Period.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "OCD">
                      <h3></h3>
                      <p>This is such a great site. It could really use a site where people can express their love for other people suffering though. And maybe a button for that kind of thing. </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "OCD">
                      <h3></h3>
                      <p>Thank you for giving us a place to express how I feel. It really helps to write things down and share them. That button is the most beautiful thing I have ever seen and whoever set up the D3 is a genius.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Autism">
                      <h3></h3>
                      <p>My parents worry about me all the time. It is easier for me to type than it is to talk to anyone so this is incredibly cathartic.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Autism">
                      <h3></h3>
                      <p>I can not deal with people. There is so much I want to say but it is impossible for me to get it out. I hope things will get better.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "Autism">
                      <h3></h3>
                      <p>It is difficult for me to talk in public but I can type here and get it all out. Thank you.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "PTSD">
                      <h3></h3>
                      <p>Since coming home from the last tour it has been brutal. My moods are all over the place and I have nightmares every night. Things have to get better.   </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "PTSD">
                      <h3></h3>
                      <p>Is there a MacArthur genius award for site design? Mic drop.  </p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div class= "PTSD">
                      <h3></h3>
                      <p>Thanks for making this site. I will tell my friends about it and hopefully it will help them as much as it is helping me.  </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 <!-- <a class="left carousel-control" href="#carousel-example" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
</a> -->
</div>

    </div>
    </div>
  </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights with Academy PGH</p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="/Admin">Admin</a></li>
        </ul>
      </div>
    </div>
  </div>


  </body>
</html>
