<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <title>Contextual Camouflage</title>
    <script>
    $(document).ready(function()
    {
     $('body').hide().fadeIn(2000);

 //     $.getJSON(https://replayfxcalendar.azurewebsites.net/public/gametypes, function (data) {
 //       alert('HEY!!');
 //        console.log(data);
 // });

    });
    </script>
    </head>
    <body>
      <div>
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
            <a href="/Home" class="navbar-brand">CONTEXTUAL CAMOFLAUGE</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/About">About</a></li>
              <li><a href="/Love">The Stigma</a></li>
              <li><a href="/Story">Your Story</a></li>
              <li><a href="/Help">Help Resources</a></li>
            </ul>
          </div>
        </div>
        </nav>
    </div>
    <div class = "newclass">
    <div class = "camomap blur"></div>
    <div class="overlay">
      <div class="container" id="contextualinfo">
        <header>Contextual Camouflage</header>
        <br>
        <p>
          A [web] app that uses mapping technology to gather mental
          health data anonymously based on user input and present it in real time via a heat map. <br>

          The [web] app will also provide resources and present current research.

          Users can opt-in to have their (non-)personal data used in research.

          There will also be a public installation of the heat map projected at target location(s).
          <br>
          <br>
          <br>
          <hr>
          <br>
        </p>
      </div>
        <div class="container" id="McCoyinfo">
          <p>
            McKoy Creative uses art, design, and multimedia to help increase outreach, engage communities,
            and deliver unique products and services. We work non-profit, for-purpose, and community based
            organizations develop and implement marketing strategies with social impact.
          </p>
      </div>
      <div class="bothlogos">
        <div class="row text-center">
            <img id="logo" class="img-responsive center-block" src="{{ url_for('static', filename='img/McKoyLogo.png') }}" alt="logo">
        </div>
        <div class="row text-center">
            <img id="Academylogo" class="img-responsive center-block" src="{{ url_for('static', filename='img/Academy-Work-Hard-Pittsburgh-Logo-250.png') }}" alt="academylogo">
        </div>
      </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="col-md-6">
          <p>© 2017 - All Rights with Academy PGH</p>
        </div>
        <div class="col-md-6">
          <ul class="bottom_ul">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="/Admin">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript">

  disorders = ["depression", "anxiety", "ocd", "dementia", "adhd", "autism", "bipolar", "schizophrenia", "ptsd"]
  current = 0;

  function animate1()
  {
    svg.selectAll("." + disorders[current])
  //below is animation
  .transition()
  .duration(1000)
  .ease(Math.sqrt)
  .attr("r", "45px");
  //.style("fill-opacity", 1e-6)
  //.style("stroke-opacity", 1e-6);
  //.each("end", animate2());
  setTimeout(animate2, 4000);
  current += 1;
  if (current > disorders.length - 1)
  {
    current = 0;
  }
  }
  function animate2()
  {
    svg.selectAll("circle")
  .transition()
  .duration(1000)
  .ease(Math.sqrt)
  .attr("r", "15px");
  //.style("fill-opacity", 1e-6)
  //.style("stroke-opacity", 1e-6);
  //.each("end", animate1());
  setTimeout(animate1, 1000);
  }

      //Width and height of SVG
      var w = 960;
      var h = 960;

      //Get sample points
      var samplePoints;
      $.getJSON("{{ url_for('static', filename='json/samplePointsSquare.json') }}", function(result) {
              console.log(result);
              samplePoints = result;
          })

      //Define map projection
      var projection = d3.geoMercator()
          .center([-79.955426, 40.449129])
          .scale(1500000)
          .translate([w / 2, h / 2]);

      //Create path constructor
      var path = d3.geoPath().projection(projection);

      //Create SVG constructor
      var svg = d3.select(".camomap")
          .append("svg")
          .attr("width", w)
          .attr("height", h);

      //Blurring stuff
      //grabbed from https://gist.github.com/cpbotha/5205319
      //there's info there
      var filter = svg.append("filter")
          .attr("id", "drop-shadow")
          .attr("height", "150%");
      filter.append("feGaussianBlur")
          .attr("in", "SourceAlpha")
          .attr("stdDeviation", 3)
          .attr("result", "blur");
      var feOffset = filter.append("feOffset")
          .attr("in", "blur")
          .attr("dx", 5)
          .attr("dy", 5)
          .attr("result", "offsetBlur");
      var feMerge = filter.append("feMerge");

      feMerge.append("feMergeNode")
          .attr("in", "blur")
      feMerge.append("feMergeNode")
          .attr("in", "SourceGraphic");

      //Load in GeoJSON data
      d3.json("{{ url_for('static', filename='json/NorthOakland.json') }}", function(error, json) {
          //Append the path
          svg.append("path")
              .datum({
                  type: "FeatureCollection",
                  features: json.features
              })
              .attr("d", path)
              .attr("stroke", "#333");

          //CIRCLES

          svg.selectAll("circle")
              .data(samplePoints).enter()
              .append("circle")
              .attr("cx", function(d) {
                  return projection(d)[0];
              })
              .attr("cy", function(d) {
                  return projection(d)[1];
              }).attr("class", function(d) {
                  return d[2];
              })
              .attr("r", "15px")
              .style("filter", "url(#drop-shadow)");


              animate1();

            // }
              //.remove()
              //Not currently working transition stuff below
          // .transition().delay(function(d,i){
          //   return (i * 100);
          // }).duration(500);

      });
  </script>
    </body>
</html>
