<!-- HTML admin table -->
<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"  href= "{{ url_for('static', filename='css/admin_style.css') }}">
  </head>
	<style>
	div.story {
     text-align: left;
	}
	</style>
  <body>
  <table> <!-- table: defines table-->
    <thead> <!-- thead: groups header content in table-->
      <tr> <!-- tr: starts row 1 -->
        <th colspan="8">Administrator Table for Contextual Camouflage</th> <!-- th: header; colspan # columns for spacing -->
      </tr>
      <tr> <!-- tr: starts row 2 -->
        <th>ID</th> <!-- th: the columns -->
        <th>Lat</th>
        <th>Long</th>
        <th>Zip</th>
        <th>Diagnosis</th>
        <th>Story</th>
        <th>Approve</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr> <!-- tr: starts row 3; how will rows auto populate w/each response?? -->
        <td>1</td>
        <td>40.4420 N</td>
        <td>79.9626 W</td>
        <td>90210</td>
        <td>Dementia</td>
        <td>
        	<div class="story">INPUT STORY it can expand with more text input I hope INPUT STORY it can expand with more text input I hopeINPUT STORY it can expand with more text input I hope
        <td>
          <i class="button approve">Approve</i>
    	<td>
          <i class="button delete">Delete</i>
        </td>
      </tr>
      <tr> <!-- tr: starts row 4 -->
        <td>2</td>
        <td>fake lat</td>
        <td>fake long</td>
        <td>fake zip</td>
        <td>fake diag</td>
        <td>
        	<div class="story">INPUT STORY it can expand with more text input I hope INPUT STORY it can expand with more text input I hopeINPUT STORY it can expand with more text input I hope
        <td>
          <i class="button approve">Approve</i>
    	<td>
          <i class="button delete">Delete</i>
        </td>
      </tr>
      <tr> <!-- tr: starts row 5 -->
        <td>3</td>
        <td>fake lat</td>
        <td>fake long</td>
        <td>fake zip</td>
        <td>fake diag</td>
        <td>
        	<div class="story">INPUT STORY it can expand with more text input I hope INPUT STORY it can expand with more text input I hopeINPUT STORY it can expand with more text input I hope
        </td>
        <td>
          <i class="button approve">Approve</i>
    	<td>
          <i class="button delete">Delete</i>
        </td>
      </tr>
    </tbody>
  </table>


  </body>
</html>
