<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/styles.css') }}">
    <title>Contextual Camouflage</title>
    <script>
    $(document).ready(function()
    {
     $('body').hide().fadeIn(2000);
    });
    setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });
        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
    </script>
  </head>
  <body>
    <div>
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
          <a href="/Home" class="navbar-brand">CONTEXTUAL CAMOFLAUGE</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li><a href="/">Home</a></li> -->
            <li><a href="/About">About</a></li>
            <li><a href="/Love">The Stigma</a></li>
            <li><a href="/Story">Your Story</a></li>
            <li><a href="/Help">Help Resources</a></li>
          </ul>
        </div>
      </div>
      </nav>
  </div>

    <div class="newclass">
    <div class="camomap blur"></div>
    <div class="overlay">
    <div class="loveBlock">
    <div class="container" id="loveinfo">

<div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="9000">
<!-- Wrapper for slides -->
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
      <div class="carousel-inner">
          <div class="item active">
              <div class="carousel-content">
                  <div>
                      <h3>Depression</h3>
                      <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>Anxiety</h3>
                      <p> iusto officiis recusandae corporis culpa quaerat?</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>Bipolar Disorder</h3>
                      <p>This is the third item.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>Dementia</h3>
                      <p>This is the third item.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>Schizophrenia</h3>
                      <p>This is the third item.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>Attention Deficit/Hyperactive Disorder</h3>
                      <p>This is the third item.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>Obsessive Compulsive Disorder</h3>
                      <p>This is the third item.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>Autism</h3>
                      <p>This is the third item.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>Post Traumatic Stress Disorder</h3>
                      <p>This is the third item.</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
          <!-- <h3>Story </h3> -->
<!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
<div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="9000">
<!-- Wrapper for slides -->
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
      <div class="carousel-inner">
          <div class="item active">
              <div class="carousel-content">
                  <div>
                      <h3>#1</h3>
                      <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>#2</h3>
                      <p> iusto officiis recusandae corporis culpa quaerat?</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-content">
                  <div>
                      <h3>#3</h3>
                      <p>This is the third item.</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
      <!-- <div class="container" id="lovebutt">
         <button type="submit" class="btn btn-primary btn-lg btn-danger">sendlove</button>
      </div> -->
    </div>
    </div>
  </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights with Academy PGH</p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="/Admin">Admin</a></li>
        </ul>
      </div>
    </div>
  </div>
  </body>
</html>
